
h2 {
            color: rgb(0,0,0);
        }  
        
        body {
  background-image: url("Background.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
}

